/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-blue-color: #63e9f3;
  --main-pink-color: #e96f92;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  color: #000 !important;
  text-decoration: none;
}
a:visited {
  color: #000 !important;
  text-decoration: none;
}

/* MAIN SECTION SINGLE PAGE STARTS HERE */

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  filter: brightness(1.2);
  filter: saturate(2);
  position: relative;
}

.main-active {
  animation: darkBackground 4s forwards;
}

.key-down {
  display: none;
}

.key-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 60px;
  height: 60px;
  background-color: var(--main-pink-color);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.down-button {
  animation: keyDown 1.5s infinite;
  position: absolute;
}

@keyframes keyDown {
  from {
    bottom: 80%;
  }
  to {
    bottom: 5%;
  }
}

/* MAIN SECTION SINGLE PAGE ENDS HERE */

/* NAVBAR STARTS HERE */
nav {
  display: flex;
  justify-content: end;
}

.hamburger-menu {
  margin: 0.8rem;
  cursor: pointer;
}

.hamburger-menu:hover {
  color: #fff;
}

.navbar-items {
  display: none;
}

.navbar-items-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-blue-color);
  color: var(--main-pink-color);
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  letter-spacing: 5px;
  z-index: 9999;
  list-style: none;
  animation: navbarActiveAnimation 0.5s forwards;
  overflow: hidden;
}

.navbar-items li {
  cursor: pointer;
  font-size: 48px;
  font-weight: 900;
}
.navbar-items li:hover {
  color: #fff;
}
.nav-home img {
  width: 36px;
  height: 36px;
}

.close-button {
  color: #fff;
  font-size: 80px;
  animation: closeButtonAnimation 4s infinite;
}

@keyframes navbarActiveAnimation {
  from {
    left: -400px;
  }
  to {
    left: 0;
  }
}

@keyframes closeButtonAnimation {
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* NAVBAR ENDS HERE */

/* PREV/NEXT PAGE ARROW */
.arrows {
  display: none;
}
/* PREV/NEXT PAGE ARROW */

/* BALLOON / BALLOON ANIMATION*/
.balloon {
  max-width: 70px;
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 70%;
  z-index: -1;
  animation: ballonAnimation 40s linear infinite;
  animation-fill-mode: forwards;
}
.balloon2 {
  bottom: 5%;
  left: -20%;
  animation: ballonAnimation2 40s linear infinite;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

.balloon-dark {
  opacity: 0.2;
}

@keyframes ballonAnimation {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}
@keyframes ballonAnimation2 {
  from {
    bottom: 0%;
    left: 10%;
  }
  to {
    bottom: 100%;
    left: 40%;
  }
}
/* BALLOON / BALLOON ANIMATION*/

/* HOME SECTION STARTS HERE */

.home-active {
  display: block;
  padding-bottom: 8rem;
  animation: fadeIn;
  animation-duration: 5s;
  color: #fff;
}

.home-deactive {
  animation: fadeOut 4s forwards;
}

header {
  width: 100%;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

.developer-name {
  font-family: "Allura", cursive;
  font-size: 780%;
  font-weight: bolder;
  color: var(--main-pink-color);
  position: relative;
  text-align: center;
  animation: fadeIn 4s forwards;
}
.title {
  font-size: 24px;
  display: block;
  margin-top: 0rem;
  padding: 0.5rem 40px;
  font-family: "Overpass";
  font-weight: 400;
  animation: fadeIn;
  animation-duration: 6s;
  background-color: #ffff00;
  height: 40px;
}

/* HOME SECTION ENDS HERE */

/* ABOUT SECTION STARTS HERE */

.about {
  display: none;
}

.about-active {
  display: block;
  padding-bottom: 8rem;
  animation: fadeIn;
  animation-duration: 5s;
  color: #fff;
}
.about-deactive {
  animation: fadeOut;
  animation-duration: 3s;
}

.about h3 {
  color: #e96f92;
  font-size: 72px;
  text-align: center;
}
.about p {
  line-height: 34px;
  padding: 40px 50px;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
}

.about span {
  background-color: #ffff00;
  color: #000;
  font-weight: 600;
  margin-left: 4px;
}

.about button {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 40px;
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  color: #e96f92;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
}

.about button i {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-right: 4px;
}
/* ABOUT SECTION ENDS HERE */

/* SKILL SECTION STARTS HERE */

.skills {
  display: none;
}

.skills-active {
  display: block;
  padding-bottom: 8rem;
  animation: fadeIn;
  animation-duration: 5s;
  color: #fff;
  text-align: center;
}

.skills-deactive {
  animation: fadeOut;
  animation-duration: 3s;
}

.skills h3 {
  color: #e96f92;
  font-size: 72px;
  text-align: center;
}

.skills h6 {
  font-size: 18px;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}

.skills picture img {
  margin-top: 2rem;
  max-width: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
/* SKILL SECTION ENDS HERE */

/* WORK SECTION STARTS HERE */

.works {
  display: none;
}

.works-active {
  display: block;
  animation: fadeIn;
  animation-duration: 5s;
  padding-bottom: 6rem;
  overflow-x: hidden;
}

.works-deactive {
  animation: fadeOut;
  animation-duration: 3s;
}

.work {
  width: 90%;
  background-color: #fff;
  margin: 3rem auto 6rem auto;
  border-radius: 24px;
  color: #000;
  text-align: center;
  padding-bottom: 1.5rem;
}

.work:last-child {
  margin-bottom: 0rem;
}

.works h3 {
  color: #e96f92;
  font-size: 72px;
  text-align: center;
}

.work h4 {
  font-family: "Overpass", sans-serif;
  color: #282f3a;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  padding-top: 2rem;
}

.work ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work ul li {
  padding: 10px;
  border: 1px solid #000;
  background-color: #ffff00;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  margin: 20px 5px 10px;
  width: 35%;
}

.work p {
  line-height: 34px;
  padding: 0 20px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.work-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}

.work-button-container button {
  border: none;
  background-color: #000;
  width: 120px;
  height: 40px;
  color: #fff;
  font-weight: 600;
}

.work-button-container button:nth-of-type(2) {
  background-color: #e96f92;
}

.work img {
  max-width: 95%;
  height: 600px;
  margin-top: 2rem;
  border-radius: 20px;
}

.work video {
  display: none;
}

/* WORK SECTION ENDS HERE */

/* CONTACT SECTION STARTS HERE */

.contact {
  display: none;
}

.contact-active {
  display: block;
  color: #fff;
  animation: fadeIn;
  animation-duration: 5s;
  text-align: center;
  padding-bottom: 8rem;
}
.contact-deactive {
  animation: fadeOut;
  animation-duration: 3s;
}
.contact h3 {
  color: #e96f92;
  font-size: 72px;
  text-align: center;
  padding-top: 3.5rem;
}
.contact form {
  position: relative;
}

.contact form input {
  width: 95%;
  height: 50px;
  margin-top: 2rem;
}

.contact form input::placeholder {
  padding-left: 0.4rem;
}

.message-box {
  height: 150px !important;
}

.contact button {
  width: 170px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid lightgray;
  margin-right: auto;
  margin-top: 2rem;
  position: absolute;
  bottom: -60px;
  right: 14px;
  cursor: pointer;
  border-radius: 3px;
}
.social-medias {
  margin-top: 6rem;
}

.social-accounts {
  display: flex;
  justify-content: space-evenly;

  padding-top: 2rem;
}

.social-accounts i {
  color: #fff;
  font-size: 30px;
}

.social-accounts i:hover {
  color: #e96f92;
}

/* CONTACT SECTION ENDS HERE */

@media only screen and (min-width: 600px) {
  .contact {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .developer-name {
    font-size: 880%;
  }

  .contact {
    width: 60%;
    margin: 0 auto;
  }
  .about p {
    padding: 40px 120px;
  }

  .work {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  header {
    width: 85%;
  }

  .arrows {
    display: block;
  }

  .left-arrow {
    display: none !important;
  }

  .left-arrow-active {
    position: absolute;
    left: 3%;
    top: 50%;
    cursor: pointer;
    animation: fadeIn;
    animation-duration: 5s;
  }

  .right-arrow {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    animation: fadeIn;
    animation-duration: 5s;
  }

  .left-arrow-deactive,
  .right-arrow-deactive {
    animation: fadeOut;
    animation-duration: 4s;
  }

  .left-arrow:hover,
  .right-arrow:hover {
    color: #fff;
  }

  .prev-text {
    position: absolute;
    left: 50px;
    top: 24px;
    font-size: 20px;
    display: none;
  }

  .next-text {
    position: absolute;
    right: 50px;
    top: 24px;
    font-size: 20px;
    display: none;
  }

  .balloon {
    max-width: 120px;
  }

  @keyframes nextTextAnimation {
    from {
      right: 0;
    }
    to {
      right: 50px;
    }
  }
  @keyframes prevTextAnimation {
    from {
      left: 0;
    }
    to {
      left: 50px;
    }
  }

  .right-arrow:hover .next-text {
    display: block;
    animation: nextTextAnimation 0.5s forwards;
  }
  .left-arrow-active:hover .prev-text {
    display: block;
    animation: prevTextAnimation 0.5s forwards;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  .navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navbar-items li {
    list-style: none;
    font-size: 20px;
    letter-spacing: 6px;
    margin: 2rem 0;
  }

  .close-button {
    display: none;
  }
  .hamburger-menu {
    display: none !important;
  }

  .developer-name {
    font-size: 1200%;
  }

  .title {
    font-size: 36px;
    display: inline-block;
    height: 60px;
  }

  .contact {
    width: 50%;
    margin: 0 auto;
  }

  .works {
    width: 80%;
    margin: 0 auto;
  }
  .about p {
    padding: 40px 240px;
  }

  .about h3,
  .skills h3 {
    margin-top: 3rem;
  }

  .skills {
    width: 80%;
    margin: 0 auto;
  }
  .skills picture img {
    max-width: 14 0px;
    margin: 4rem 2rem;
  }

  .work img {
    display: none;
  }
  .work {
    width: 60%;
  }

  .work video {
    display: block;
    max-width: 95%;
    height: 600px;
    border-radius: 20px;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 1200px) {
  .contact {
    width: 30%;
    margin: 0 auto;
  }
  .about p {
    padding: 40px 240px;
  }

  .skills picture img {
    max-width: 120px;
    margin: 4rem 2rem;
  }
  .work video:hover {
    transform: scale(1.2);
  }
}

@media only screen and (min-width: 1500px) {
  .about p {
    padding: 40px 440px;
  }
  .skills {
    width: 50%;
    margin: 0 auto;
  }
}
